/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'League Spartan', sans-serif;
    background-color: #fff2e5;
    overflow-x: hidden;
}
.pawsbutton {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position:absolute;
    left: -9999px;
    opacity:0;
    pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{}

























































































