html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'League Spartan', sans-serif;
    background-color: #FFF0D8;
   
}
main{
    padding: 10px;
    align-content: center;
}
.CuddlePaws{
    padding: 20px;
    margin: 5rem auto;
    margin-bottom: 10%;

}


.category-dropdown {
    padding:10px;
    position: relative;
    display: inline-block;
    justify-content: center;
   
}

.category-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d67d3e; 
    color: white;
    cursor: pointer;
    width: 200px;
}

.category-list {
    display: none; /* Hide the list by default */
    position: absolute;
    background-color: #ffe5d6;
    
    border-radius: 5px;
    margin-top: 5px; /* Space between the button and the list */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Padding for the list */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensure it appears above other content */
}

.category-item {
    padding: 10px 20px;
    cursor: pointer;
}

.category-item:hover {
    background-color: #d0bd87;
    color:#ffffff;
}
.pets-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 30px;
    margin: 50px;
}

.pets-category > div {
    box-shadow: 0 5px 7px rgba(0, 0, 0,0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.pets-category img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes the image cover the entire area without distorting the aspect ratio */
}

.bestSeller {
    grid-column: 1;
    grid-row: 1/3;
    background-color: #bba267;
}

.dog {
    grid-column: 2;
    grid-row: 1;
}

.cat {
    grid-column: 2;
    grid-row: 2;
}

.fish {
    grid-column: 3;
    grid-row: 2;
}

.birds {
    grid-column: 3;
    grid-row: 1;
}
.Shop_Dog{
    padding: 20px;    
}
.Shop_Dog h2{
    color:#d67d3e;
    font-size: 24px;
    padding: 20px;
}
.shopDog{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    height: 100px;
}
.allItems-Card{
    background-color: #ffdfc4;
    border-radius: 10px;
    text-align: left; /* Align text to the left */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 90%;
    width: 100%; /* Make the card fit its column */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between h3 and price */
}
.allItems-Card img{
    max-width: 100%;
    height: auto;
    
}
.allItems-Card h3 {
    font-size: 13px;
    margin: 10px 0;
}

.price {
    font-weight: bold;
    color: #000;
    font-size: 13px;
    align-self: flex-start; /* Align the price to the start (left) */
}





































